.composition{
    position: relative;
    
    &__photo{
        position: absolute;
        border-radius: 10px;
        box-shadow: 0 1.5rem 3rem rgba($color-black, .6);
        width: 55%;
        outline-offset: 1rem;
        transition: all .4s ease-in-out;

        @include respond(tab-port) {
            position: relative;
            box-shadow: 0 .5rem 1.5rem rgba($color-black, .6);
            float: left;
            width: 33.33333%;
            margin-top: 3rem;
        }
        

        &--p1{
            left: .85rem;
            top: -3rem;

            @include respond(tab-port) {
                top: 0;
                transform: scale(1.2);
            }
        }

        &--p2{
            right: 2rem;
            top: 0;
            @include respond(tab-port) {
                top: -1rem;
                right: 0;
                transform: scale(1.3);
            }
        }

        &--p3{
            bottom: -35rem;
            left: 4rem;
            @include respond(tab-port) {
                top: 1rem;
                left: 0;
                bottom: 0;
                transform: scale(1.1);
            }
        }
        &:hover{
            transform: scale(1.1);
            z-index: 20;
            box-shadow: 1rem 1.5rem 3rem rgba($color-black, .6);
            outline: 1.1rem solid $color-primary;
            transform: translateY(-2rem);
            

        }
    }

    &:hover &__photo:not(:hover){
        transform: scale(.75);
    }
}