@keyframes moveToLeft {
    0%{
        opacity: 0;
        transform: translateX(8rem);
    }

    60%{
        opacity: 0.7;
        transform: translateX(-3rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);

    }
}

@keyframes moveToRight {
    0%{
        opacity: 0;
        transform: translateX(-8rem);
    }

    60%{
        opacity: 0.7;
        transform: translateX(3rem);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveToTop {
    0%{
        opacity: 0;
        transform: translateY(5rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}